/* NavbarQuestoes.module.css */
.head {
    top: 0;
    position: fixed;
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    display: flex;
    color: white;
    padding: 0 1em;
  }
  
  .logo {
    display: flex;
    align-items: center;
    height: 7.5vh;
    background-color: transparent;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    transition: background-color 300ms, scale 100ms;
  }
  
  .logoImg {
    width: 84px;
    height: 64px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .flyHead {
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Georama", sans-serif;
  }
  
  .rightSection {
    display: flex;
    align-items: center;
  }
  
  .linkHead {
    text-align: center;
    font-size: 110%;
    margin-right: 2em;
    color: white;
    text-decoration: none;
    font-family: "Georama", sans-serif;
    font-weight: 500;
    padding: 12px 20px;
    overflow: hidden;
    transition: background-color 300ms, scale 100ms;
    position: relative;
    border-radius: 50px;
  }
  
  .linkHead:active,
  .btnHeadFill:active {
    scale: 0.9;
  }
  
  .linkHead:hover,
  .btnHeadFill:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .btnHeadFill {
    text-align: center;
    font-size: 130%;
    margin-right: 2em;
    color: white;
    text-decoration: none;
    font-family: "Georama", sans-serif;
    font-weight: 500;
    padding: 12px 20px;
    overflow: hidden;
    transition: background-color 300ms, scale 100ms;
    position: relative;
    border-radius: 50px;
  }
  