/*
(1) Regras gerais do Form como um todo
*
*
(2) Regras do Form Entrar
*
*
(3) Regras do Form Cadastrar
*/
 
    /* 1- Form */

    .container {
        margin-bottom: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }
    
    .container input:focus {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    }
    
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .form h1 {
        margin-bottom: 75px;
    }
    
        /* 2- Form Entrar */
    
    .formEntrar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-right: 1px solid white;
        padding-bottom: 20px;
        padding-right: 50px;
    }
    
    .formEntrar h1 {
        text-align: center;
        font-size: 50px;
    }
    
    .formEntrar .Email{
        width: 440px;
        height: 45px;
        border: none;
        background-color: #525252;
        color: #FFFFFF;
        border-radius: 50px;
        padding: 10px;
        margin-bottom: 15px;
    }
    
    .formEntrar .Email::placeholder{
        color: #FFFFFF;
    }
    
    .formEntrar .Senha{
        width: 440px;
        height: 45px;
        border: none;
        background-color: #525252;
        color: #FFFFFF;
        border-radius: 50px;
        padding: 10px;
        margin-bottom: 10px;
    }
    
    .formEntrar .Senha::placeholder{
        color: #FFFFFF;
    }
    
    
    .formEntrar a {
        text-decoration: underline;
        color: #00FFF0;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        margin-block: 10px;
    }
    
    .formEntrar .btn {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 45px;
    }
    
    .btn .Entrar {
        width: 170px;
        height: 60px;
        border: none;
        border-radius: 30px;
        color: #FFFFFF;
        background-color: rgba(0, 255, 240, 0.37);
        font-size: 16px;
        font-weight: bold;
    }
    
    .formEntrar .btn .or {
        margin-left: 26px;
        margin-right: 13px;
        color: #8D8C8C;
        font-family: 'Poppins', sans-serif;
        font-weight: medium;
    }
    
    .formEntrar .btn .img {
        border: 1px solid white;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        object-fit: none;
        margin-left: 13px;
    }
    
        /* 3- Form Cadastrar */
    
    .formCadastrar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        padding-left: 50px;
    }
    
    .formCadastrar h1 {
        font-size: 50px;
    }
    
    .formCadastrar p {
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }
    
    .formCadastrar .Email {
        width: 440px;
        height: 45px;
        border: none;
        background-color: #525252;
        color: #FFFFFF;
        border-radius: 50px;
        padding: 10px;
        margin-block: 25px;
    }
    
    .Check {
        border: none;
        width: 20px;
        height: 20px;
    }
    
    .formCadastrar span {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
    
    .formCadastrar a {
        text-decoration: underline;
        color: #00FFF0;
        cursor: pointer;
    }
    
    .formCadastrar .btn {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 35px;
    }
    
    .btn .Cadastrar {
        width: 170px;
        height: 60px;
        border: none;
        border-radius: 30px;
        color: #FFFFFF;
        background-color: rgba(0, 255, 240, 0.37);
        font-size: 16px;
        font-weight: bold;
    }
    
    .formCadastrar .btn .or {
        margin-left: 26px;
        margin-right: 13px;
        color: #8D8C8C;
        font-family: 'Poppins', sans-serif;
        font-weight: medium;
    }
    
    .formCadastrar .btn .img {
        border: 1px solid white;
        border-radius: 50%;
        object-fit: none;
        margin-left: 13px;
    }
    