.ppCBG {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

.ppC {
  width: 40vw;
  height: 80vh;
  background-color: #252525;
  border-radius: 50px;
  overflow: visible;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fechar {
  position: absolute;
  right: 0;
  top: 0;
}

.titulo {
  margin-left: 50px;
  margin-top: 50px;
  font-size: 70px;
}

.grade {
  display: grid;
  grid-template-areas:
    'USP UCS'
    'UNIFESP SPTech'
    'UNESP IFSP';
  margin: 1em 2em;
  gap: 1px;
}

.grade>div {
  background-color: rgba(255, 255, 255, 0.35);
}

.img {
  position: relative;
  width: 100px;
  height: 100px;
}

.btnVerMais {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  border-radius: 50px;
  background-color: rgb(0, 128, 119);
  padding: 0.5em 1em;
  opacity: 1;
  transition: opacity 100ms, background-color 100ms;
  border: 0;
  cursor: pointer;
}

.btnVerMais:hover {
  background-color: rgb(0, 136, 127);
}

.btnVerMais:active {
  opacity: 0.5;
}