/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

/* Bootstrap icons import */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}
body {
  background-color: #17161A;  
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  box-sizing: border-box;
}

i{
  font-size: 32px;
  color: yellow;
  margin: 5px;
 }

 a{
   text-decoration: none;
   color: white;
 }

/* cabeçalho */

   .cabeçalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 90px;
    width: 100vw;
  }
  #cadastro{
    width: 50px;
    position: relative;
    margin-right: 20px;
    filter: brightness(100%);
    transition: 0.3s ease;
  }
  #cadastro:hover{
   transform: scale(1.2);
  }
  #logo-container{
    display: flex;
    align-items: center;
    margin: 5px;
  }
  #logo-container .logo{
    height: 90px;
    transition: 0.3s ease;
  }
  #logo-container h2{
    cursor: pointer;
  }

  .nav{
    display: flex;
  }

  .nav ul{
    padding: 0;
    margin: 30px;
  }

  ul:hover{
    cursor: pointer;
    border: white;
  }

/* Conteúdo */

.conteudo{
    display: flex;
    align-items: center;
}

.conteudo .start{
    display: flex;
    flex-direction: column;
    color: white;
    width: 300px;
    margin-block: 300px;
    margin-inline: 100px;
}

.conteudo .start h1{
    font-weight: 800;
}


  
