/* popup */
.popup {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: rgba(17, 17, 17, 0.7);
  padding: 20px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 7px;
}

.content {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.botoes {
  display: flex;
}

.botoes > * {
  padding: 0.5em 1em;
  border-radius: 50px;
  margin-right: 0.8em;
  cursor: pointer;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  transition: opacity 100ms, background-color 100ms;
}

.botaoAceitar {
  background-color: var(--btnPrimary);
}

.botaoAceitar:hover {
  background-color: var(--btnPrimaryHover);
}

.botaoAceitar:active {
  opacity: 0.5;
}

.botaoLer {
  background-color: rgba(0, 178, 255, 0.37);
}

.botaoLer:hover {
  background-color: rgba(0, 178, 255, 0.5);
}

.botaoLer:active {
  opacity: 0.5;
}

/* dialogo */
.fundo {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(4px);
}

.dialogo {
  background-color: #111111;
  position: fixed;
}