@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  

  
  .fecharButton {
    padding: 0.6em;
    border: none;
    border-radius: 50px;
    margin-top: 0.2em;
    font-size: 20px;
    width: 340px;
    align-self: center;
    font-weight: bold;
    cursor: pointer;
    background-color: #24837c;
    color: white;
    transition: background-color 0.3s;
}
  
  .fecharButton:hover {
    background-color: #1a635f;
}