.containerIcones {
  background-color: black;
  margin: 1em;
  padding: 1em;
  border-radius: 25px;
  z-index: 7;
  position: fixed;
}

.item {
  width: 5em;
  height: 5em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  transition: background-color 250ms, border-radius 250ms;
}

.item::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 6px;
  border-radius: 50px;
  background-color: white;
  transition: width ease 250ms;
}

.item:not(:last-child) {
  margin-bottom: 1em;
}

.item span {
  font-size: 3em;
  color: white;
  transition: scale 250ms;
}

.item:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 25px;
  cursor: pointer;
}

.item:active span {
  scale: 0.8;
}

.item.escolhido::after {
  width: 70%;
}

.containerNomes {
  position: absolute;
  top: 0;
  margin: 1em 0 0 1em;
  padding: 1em 0;
  background-color: #161616;
  width: 6em;
  z-index: 4;
  border-radius: 25px;
  overflow: hidden;
  transition: width ease 500ms;
}

.nome {
  margin: 0;
  height: 5em;
  padding-left: 9em;
  display: flex;
  align-items: center;
}

.nome:not(:last-child) {
  margin-bottom: 1em;
}

.nome .p {
  font-size: x-large;
}

.containerIcones:hover + .containerNomes {
  width: 20em;
}

.containerNomes:hover {
  width: 20em;
}
